# run $ pip install -r requirements.txt to install these packages easily
absl-py
astor
beautifulsoup4
cycler
gast
grpcio
h5py
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
numpy
pandas
protobuf
pyparsing
python-dateutil
pytz
PyYAML
scipy
six
tensorboard
# can be satisfied by just tensorflow
tensorflow-gpu
termcolor
Werkzeug
